{# Kế thừa layout backend #}
{% extends "backend/layouts/layout.html.twig" %}

{# Nội dung trong block title #}
{% block title %}
Sửa Văn bản
{% endblock %}
{# End Nội dung trong block title #}

{# Nội dung trong block headline #}
{% block headline %}
Sửa Văn bản
{% endblock %}
{# End Nội dung trong block headline #}

{# Nội dung trong block content #}
{% block content %}

{% if errors %}
<div id="errors-container" class="alert alert-danger face" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <ul>
        {% for fields in errors %}
            {% for field in fields %}
            <li>{{ field.msg }}</li>
            {% endfor %}
        {% endfor %}
    </ul>
</div>
{% endif %}

<form name="frmEdit" id="frmEdit" method="post" action="/backend/vanban/edit.php?id={{ vanbanRow.vb_id }}" enctype="multipart/form-data">
    <div class="form-group">
        <label for="vb_so">Số Văn bản</label>
        <input type="text" class="form-control" id="vb_so" name="vb_so" placeholder="Số Văn bản" value="{{ vanbanRow.vb_so }}">
        <small id="vb_soHelp" class="form-text text-muted">Số văn bản có thể để trống.</small>
    </div>
    <div class="form-group">
        <label for="vb_tieude">Tiêu đề Văn bản</label>
        <input type="text" class="form-control" id="vb_tieude" name="vb_tieude" placeholder="Tiêu đề Văn bản" value="{{ vanbanRow.vb_tieude }}">
    </div>
    <div class="form-group">
        <label for="vb_trichyeu">Trích yếu Văn bản</label>
        <textarea class="form-control" id="vb_trichyeu" name="vb_trichyeu" rows="5">{{ vanbanRow.vb_trichyeu }}</textarea>
    </div>
    <div class="form-group">
        <label for="vb_phongban_banhanh_id">Phòng/Ban ban hành</label>
        <select name="vb_phongban_banhanh_id" class="form-control">
        {% for phongban in dataPhongban.data %}
            {% if phongban.pb_id == vanbanRow.vb_phongban_banhanh_id %}
                <option selected value="{{ phongban.pb_id }}">{{ phongban.pb_ten }}</option>
            {% else %}
                <option value="{{ phongban.pb_id }}">{{ phongban.pb_ten }}</option>
            {% endif %}
        {% endfor %}
        </select>
    </div>
    <div class="form-row">
        <div class="form-group col-6">
            <label for="vb_nguoiky_nhanvien_id">Người ký tên Văn bản</label>
            <select class="form-control" id="vb_nguoiky_nhanvien_id" name="vb_nguoiky_nhanvien_id">
                {% for nv in dataNhanvien.data %}
                    {% if vanbanRow.vb_nguoiky_nhanvien_id == nv.nv_id %}
                        <option value="{{ nv.nv_id }}" selected>{{ nv.nv_hoten }}</option>
                    {% else %}
                        <option value="{{ nv.nv_id }}">{{ nv.nv_hoten }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="form-group col-6">
            <label for="vb_nguoiky_chucvu_id">Chức danh Người ký tên Văn bản</label>
            <select class="form-control" id="vb_nguoiky_chucvu_id" name="vb_nguoiky_chucvu_id">
                {% for cv in dataChucvu.data %}
                    {% if vanbanRow.vb_nguoiky_chucvu_id == cv.cv_id %}
                        <option value="{{ cv.cv_id }}" selected>{{ cv.cv_ten }}</option>
                    {% else %}
                        <option value="{{ cv.cv_id }}">{{ cv.cv_ten }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-6">
            <label for="vb_ngayky">Ngày ký</label>
            <input type="text" class="form-control" id="vb_ngayky" name="vb_ngayky" placeholder="Ngày ký Văn bản" value="{{ vanbanRow.vb_ngayky }}">
        </div>
        <div class="form-group col-6">
            <label for="vb_ngayhieuluc">Ngày hiệu lực</label>
            <input type="text" class="form-control" id="vb_ngayhieuluc" name="vb_ngayhieuluc" placeholder="Ngày hiệu lực Văn bản" value="{{ vanbanRow.vb_ngayhieuluc }}">
        </div>
    </div>
    <div class="form-group">
        <label for="vb_taptin_dinhkem">Tập tin đính kèm</label>
        <a href="/assets/uploads/vanban/{{ vanbanRow.vb_taptin_dinhkem }}" target="_blank">{{ vanbanRow.vb_taptin_dinhkem }}</a>
        <input type="file" class="form-control" id="vb_taptin_dinhkem" name="vb_taptin_dinhkem">
    </div>
    <div class="form-group">
        <label for="vb_lienquan">Các văn bản cũ liên quan</label>
        <select class="form-control" id="vb_lienquan" name="vb_lienquan[]" multiple="multiple">
            {% for vanban in dataVanBan %}
                {% if vanban.vb_id in vanbanRow.vb_lienquan_arr %}
                <option selected value="{{ vanban.vb_id }}">{{ vanban.vb_so }} - {{ vanban.vb_tieude }}</option>
                {% else %}
                <option value="{{ vanban.vb_id }}">{{ vanban.vb_so }} - {{ vanban.vb_tieude }}</option>
                {% endif %}
            {% endfor %}
        </select>
    </div>

    <a class="btn btn-secondary" href="/backend/vanban/">Quay về Danh sách</a>
    <button class="btn btn-primary" name="btnSave">Lưu</button>
</form>
{% endblock %}
{# End Nội dung trong block content #}

{% block customscripts %}
<script>
    $(document).ready(function () {
        $("#vb_ngayky").flatpickr({
            enableTime: false,
            allowInput: true,
            altInput: true,
            altFormat: "d/m/Y",
            dateFormat: "Y-m-d",
        });
        $("#vb_ngayhieuluc").flatpickr({
            enableTime: true,
            allowInput: true,
            altInput: true,
            altFormat: "d/m/Y H:i",
            dateFormat: "Y-m-d H:i",
        });
        $('#vb_lienquan').select2();

        $.validator.addMethod("validate_cannot_number", function (value, element, param) {
            var detectNumber = /\d/gmi.test(value);
            if(detectNumber) {
                return false;
            } else {
                return true;
            }
        }, "Không được nhập ký tự số.");

        $("#frmEdit").on("submit", function(e) {
            var dtNgayKy;
            var dtNgayHieuLuc;
            var ngayKy = $('#vb_ngayky').val();
            var ngayHieuLuc = $('#vb_ngayhieuluc').val();
            if(ngayKy && ngayKy != "") {
                dtNgayKy = new Date(ngayKy);
            }
            if(ngayHieuLuc && ngayHieuLuc != "") {
                dtNgayHieuLuc = new Date(ngayHieuLuc);
            }

            // Validate
            if(dtNgayKy > dtNgayHieuLuc) {
                Swal.fire(
                    'Ngày không chính xác!',
                    '<b>Ngày ký</b> không thể LỚN HƠN <b>Ngày hiệu lực</b>.<br />Vui lòng kiểm tra lại.',
                    'warning'
                );
                e.preventDefault();
            } else if(dtNgayHieuLuc < dtNgayKy) {
                Swal.fire(
                    'Ngày không chính xác!',
                    '<b>Ngày hiệu lực</b> không thể NHỎ HƠN <b>Ngày ký</b>.<br />Vui lòng kiểm tra lại.',
                    'warning'
                );
                e.preventDefault();
            }
            
            e.target.reportValidity();
        });

        $("#frmEdit").validate({
            rules: {
                vb_so: {
                    minlength: 2,
                    maxlength: 50
                },
                vb_tieude: {
                    required: true,
                    minlength: 3,
                    maxlength: 50000
                },
                vb_trichyeu: {
                    required: true,
                    minlength: 3,
                    maxlength: 50000
                },
                vb_phongban_banhanh_id: {
                    required: true,
                },
                vb_nguoiky_hoten: {
                    maxlength: 500,
                    validate_cannot_number: "true"
                },
                vb_nguoiky_chucdanh: {
                    maxlength: 500,
                    validate_cannot_number: "true"
                }
            },
            messages: {
                vb_so: {
                    minlength: "Số Văn bản phải có ít nhất 2 ký tự",
                    maxlength: "Số Văn bản không được vượt quá 50 ký tự"
                },
                vb_tieude: {
                    required: "Vui lòng nhập tiêu đề Văn bản",
                    minlength: "Tiêu đề Văn bản phải có ít nhất 3 ký tự",
                    maxlength: "Tiêu đề Văn bản không được vượt quá 50000 ký tự"
                },
                vb_trichyeu: {
                    maxlength: "Trích yếu cho Văn bản không được vượt quá 50000 ký tự"
                },
                vb_phongban_banhanh_id: {
                    required: "Vui lòng chọn Phòng/Ban ban hành"
                },
                vb_nguoiky_hoten: {
                    maxlength: "Họ tên người ký văn bản không được vượt quá 500 ký tự",
                    validate_cannot_number: "Họ tên không được nhập ký tự số"
                },
                vb_nguoiky_chucdanh: {
                    maxlength: "Chức danh người ký văn bản không được vượt quá 500 ký tự",
                    validate_cannot_number: "Họ tên không được nhập ký tự số"
                },
                vb_ngayky: {
                    validateNgayKy: "Ngày ký không được lớn hơn Ngày ban hành."
                }
            },
            errorElement: "em",
            errorPlacement: function (error, element) {
                // Thêm class `invalid-feedback` cho field đang có lỗi
                error.addClass("invalid-feedback");

                if (element.prop("type") === "checkbox") {
                    error.insertAfter(element.parent("label"));
                } else {
                    error.insertAfter(element);
                }

                // Thêm icon "Kiểm tra không Hợp lệ"
                if (!element.next("span")[0]) {
                    $("<span class='glyphicon glyphicon-remove form-control-feedback'></span>")
                        .insertAfter(element);
                }
            },
            success: function (label, element) {
                // Thêm icon "Kiểm tra Hợp lệ"
                if (!$(element).next("span")[0]) {
                    $("<span class='glyphicon glyphicon-ok form-control-feedback'></span>")
                        .insertAfter($(element));
                }
            },
            highlight: function (element, errorClass, validClass) {
                $(element).addClass("is-invalid").removeClass("is-valid");
            },
            unhighlight: function (element, errorClass, validClass) {
                $(element).addClass("is-valid").removeClass("is-invalid");
            }
        });

    });
</script>
{% endblock %}