{# Kế thừa layout backend #}
{% extends "backend/layouts/layout.html.twig" %}

{# Nội dung trong block title #}
{% block title %}
Sửa Phòng ban
{% endblock %}
{# End Nội dung trong block title #}

{# Nội dung trong block headline #}
{% block headline %}
Sửa Phòng ban
{% endblock %}
{# End Nội dung trong block headline #}

{# Nội dung trong block content #}
{% block content %}

{% if errors %}
<div id="errors-container" class="alert alert-danger face" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <ul>
        {% for fields in errors %}
            {% for field in fields %}
            <li>{{ field.msg }}</li>
            {% endfor %}
        {% endfor %}
    </ul>
</div>
{% endif %}

<form name="frmEdit" id="frmEdit" method="post" action="/backend/phongban/edit.php?id={{ phongbanRow.pb_id }}">
    <div class="form-group">
        <label for="pb_ma">Mã Phòng ban</label>
        <input type="text" class="form-control" id="pb_ma" name="pb_ma" placeholder="Mã Phòng ban" value="{{ phongbanRow.pb_ma }}">
    </div>
    <div class="form-group">
        <label for="pb_ten">Tên Phòng ban</label>
        <input type="text" class="form-control" id="pb_ten" name="pb_ten" placeholder="Tên Phòng ban" value="{{ phongbanRow.pb_ten }}">
    </div>
    <div class="form-group">
        <label for="pb_diengiai">Mô tả Phòng ban</label>
        <textarea class="form-control" id="pb_diengiai" name="pb_diengiai" rows="5">{{ phongbanRow.pb_diengiai }}</textarea>
    </div>
    <a class="btn btn-secondary" href="/backend/phongban/">Quay về Danh sách</a>
    <button class="btn btn-primary" name="btnSave">Lưu</button>
</form>
{% endblock %}
{# End Nội dung trong block content #}

{% block customscripts %}
<script>
    $(document).ready(function () {
        $("#frmEdit").validate({
            rules: {
                pb_ma: {
                    required: true,
                    minlength: 3,
                    maxlength: 50
                },
                pb_ten: {
                    required: true,
                    minlength: 3,
                    maxlength: 255
                },
                pb_diengiai: {
                    maxlength: 500
                }
            },
            messages: {
                pb_ma: {
                    required: "Vui lòng nhập mã Phòng ban",
                    minlength: "Mã Phòng ban phải có ít nhất 3 ký tự",
                    maxlength: "Mã Phòng ban không được vượt quá 50 ký tự"
                },
                pb_ten: {
                    required: "Vui lòng nhập tên Phòng ban",
                    minlength: "Tên Phòng ban phải có ít nhất 3 ký tự",
                    maxlength: "Tên Phòng ban không được vượt quá 255 ký tự"
                },
                pb_diengiai: {
                    maxlength: "Diễn giải cho Phòng ban không được vượt quá 500 ký tự"
                },
            },
            errorElement: "em",
            errorPlacement: function (error, element) {
                // Thêm class `invalid-feedback` cho field đang có lỗi
                error.addClass("invalid-feedback");

                if (element.prop("type") === "checkbox") {
                    error.insertAfter(element.parent("label"));
                } else {
                    error.insertAfter(element);
                }

                // Thêm icon "Kiểm tra không Hợp lệ"
                if (!element.next("span")[0]) {
                    $("<span class='glyphicon glyphicon-remove form-control-feedback'></span>")
                        .insertAfter(element);
                }
            },
            success: function (label, element) {
                // Thêm icon "Kiểm tra Hợp lệ"
                if (!$(element).next("span")[0]) {
                    $("<span class='glyphicon glyphicon-ok form-control-feedback'></span>")
                        .insertAfter($(element));
                }
            },
            highlight: function (element, errorClass, validClass) {
                $(element).addClass("is-invalid").removeClass("is-valid");
            },
            unhighlight: function (element, errorClass, validClass) {
                $(element).addClass("is-valid").removeClass("is-invalid");
            }
        });

    });
</script>
{% endblock %}